name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  test-linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Build
      run: cargo build --verbose

    - name: Clippy
      run: cargo clippy

    - name: Run tests
      run: cargo test --verbose
  
  test-linux-ipv4:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: docker build -t sacn-tests -f docker-linux/Dockerfile .
    - name: Run tests
      run: docker run --cap-add=NET_ADMIN sacn-tests

  test-windows:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4

    - name: Build
      run: cargo build --verbose

    - name: Clippy
      run: cargo clippy

    - name: Run tests
      run: cargo test --verbose

  test-macos:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4

    - name: Build
      run: cargo build --verbose

    - name: Clippy
      run: cargo clippy

    - name: Run tests
      run: cargo test --verbose

